{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <div class="row h-100" style="padding-top: 100px;">
    <div class="container d-flex align-items-center">
        <h1 class="flex-shrink-1 me-4" id="game-on">Game is on!</h1>
        <div class="progress flex-grow-1" id="progress-bar-container">
            <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated border border-light" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" id="progress-bar">30s</div>
        </div>
    </div>
    <div class="col">
        <div class="row d-flex flex-row justify-content-evenly" id='requirements'>
            <div class="text-center border border-3 px-4" id="req">
                Your password must be {{random_number}} characters long.
            </div>
            <div class="text-center border border-3 px-4" id="req">
                Your password must contain the letter "{{first_random_letter}}".
            </div>
            <div class="text-center border border-3 px-4" id="req">
                Yout password must contain the letter "{{second_random_letter}}".
            </div>
        </div>
    </div>
    <div style="display: flex;" id='answer'>
        <div class="form-floating flex-grow-1 mx-3 ms-5 mb-5">
            <input type="text" class="form-control" id="word" name="word" placeholder="word">
            <label for="word">Your answer</label>
        </div>
        <button class="btn btn-secondary mx-4 me-5 mb-5" id="submit">Submit</button>
    </div>

    <script>
        var flag = true;
        window.addEventListener('beforeunload', function(event) {
            console.log(flag);
            flag = true;
        })
        // Retrieve timeLeft from localStorage if available, otherwise initialize
        let timeLeft = localStorage.getItem('timeLeft') || 30;
        const progressBar = document.getElementById('progress-bar');

        const timer = setInterval(function() {
            timeLeft--;
            progressBar.style.width = `${(timeLeft / 30) * 100}%`;
            progressBar.textContent = `${timeLeft}s`;

            // Store timeLeft in localStorage
            localStorage.setItem('timeLeft', timeLeft);

            if (timeLeft <= 0) {
                flag = false
                localStorage.setItem('timeLeft', timeLeft);
                clearInterval(timer);
                window.location.href = "{{ url_for('game.end_game', room_id=room.id) }}";
            }
        }, 1000);

        // Check if the form was already submitted
        if (localStorage.getItem('formSubmitted') === 'true') {
            document.getElementById('answer').style.display = 'none';
        }

        var roomId = "{{ room.id }}";
        var socket = io();

        document.addEventListener('DOMContentLoaded', function() {
            var pointsForm = document.getElementById('submit');
            if (pointsForm) {
                pointsForm.addEventListener('click', function(event) {
                    var timePercentage = localStorage.getItem('timeLeft') / 30;
                    var answer = document.getElementById('word').value;
                    socket.emit('submit_points', { room: roomId, timePercentage: timePercentage, random_number: "{{random_number}}",
                        first_random_letter: "{{first_random_letter}}", second_random_letter: "{{second_random_letter}}", answer: answer });
                    document.getElementById('word').value = '';  // Clear the input field after submission
                    document.getElementById('answer').style.display = 'none';

                    // Save the form submission state
                    localStorage.setItem('formSubmitted', 'true');
                });
            }
        });
    </script>
  </div>
{% endblock %}