{% extends "base.html" %}
{% block title %}Instructions{% endblock %}
{% block content %}
  <div class="row min-vh-100">
    <div class="col d-flex flex-column justify-content-center align-items-center">
      <div class="row text-center border border-3 p-4" id="square">
        <h2>How to play?</h2>
        <p>
            - Log in or create an acccount if you don't have one yet. <br>
            - Create a room or join an existing one. In both cases you will need a room name and password. <br>
            - Wait for other players to join. <br>
            - When everyone is ready, the room owner (the person who created it) will start the game. <br>
            - Three requirements will be given after the start of the game. <br>
            - Your task is to create a password (word) that meets these requirements. <br>
            - The results will be displayed at the end of each round that lasts 30s.
        </p>
      </div>
    </div>
  </div>
{% endblock %}