{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
  <div class="row h-100">
    <div class="col d-flex flex-column justify-content-center align-items-center">
      <div class="row text-center border border-3 p-4" id="square">
        <h2>Register</h2>
        <form method="POST" action="">
          {{ form.hidden_tag() }}
          <p>
            {{ form.username.label }}<br>
            {{ form.username(style="width: 80%;") }}<br>
          </p>
          <p>
            {{ form.password.label }}<br>
            {{ form.password(style="width: 80%;") }}<br>
          </p>
          <p>{{ form.submit(class="btn active", style="background-color: rgb(93, 0, 215, 0.6); border-color: rgb(93, 0, 215); color: white;") }}</p>
        </form>
      </div>
    </div>
  </div>
{% endblock %}